.secret-vault-container{
    display: grid;
    place-items: center;
    min-height: 100vh;
    width: 100%;
    background-image: url("https://media.istockphoto.com/id/826672506/photo/night-sky-with-stars.jpg?s=612x612&w=0&k=20&c=lPeDcgxVYmPQrWcuXQuT-bCsL28ZKWCMwO3A8IrmvRo=");
    padding: 3vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.secret-story-container{
    display: flex;
    height: fit-content;
    width: 100%;
    padding: 2%;
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.836);
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    font-size: 1.1em;
    overflow: hidden;
}
.secret-story-container button{
    height: 7vh;
    width: 15vw;
    border-radius: 10px;
    background-color: rgba(220, 220, 53, 0.585);
    color: rgb(244, 244, 244);
    border : none;
    cursor: pointer;
    transition: all ease .3s;
    font-weight: 700;
}
.secret-story-container button:hover{
    /* background-color: rgba(197, 197, 68, 0.585); */
    color: rgba(220, 220, 53, 0.585);
    background-color: transparent;
    border: 1px solid rgba(220, 220, 53, 0.585);
}
.secret-vault-heading p{
    font-size: 4vw;
    font-weight: 700;

}
.secret-vault-question{
    padding: 0% 1%;
    height: 100%;
    width: 100%;
    color: white;
}
.secret-vault-ques h6{
    font-size: .9em;
    font-weight: 300;
}
.secretVaultMainQues{
    margin : 1% 0%;
    font-size: 1em;
    font-weight: 600;
    color: rgb(226, 147, 0);

}
.secret-vault-image{
    border-radius: 20px;
    height: 90vh;
    width: 96vw;
    overflow: hidden;
    margin-bottom: 1em;
    filter: brightness(80%);
}
.secret-vault-image img{
    height : 100%;
    width: 100%;
    object-fit: cover;
}
.secret-vault-ques{
    padding: 1%;
    font-size: 1.2em;
}
.secret-vault-ques h5{
    font-size: 1em;
    display: inline;
    font-weight: 300;
    color: rgb(205, 178, 41);
}
.secret-vault-ques .authentication-flow{
    font-size: .9em;
    border: none;
    background-color: transparent;
    color: rgb(226, 147, 0);
    font-weight: 600;
}
.secret-vault-operations{
    display: flex;
    padding: 1em 0;
}
.secret-vault-input input{
    height: 7vh;
    width: 60vw;
    border-radius: 10px;
    font-size: 1em;
    outline: none;
    border: none;
    padding : 0% 2%;
    margin-right: 3vw;
    display: inline;
}
.secret-check-answer{
    height: 7vh;
    width: 10vw;
    font-size: .8em;
    display: inline;
    background-color: rgb(239, 239, 36);
    border: none;
    border-radius: 10px;
    transition: all ease .4s;
}
.secret-check-answer:hover{
    background-color: transparent;
    color: yellow;
    border: 1px solid yellow;
    padding: .5%;
}
.secret-vault-ques h5{
    color: white;
    font-size: .9em;
}
.secret-homepage{
    height: 7vh;
    width: 10vw;
    font-size: .8em;
    display: inline;
    background-color: rgb(239, 239, 36);
    border: none;
    border-radius: 10px;
    transition: all ease .4s;
    margin-left: 2em;
}
.secret-homepage:hover{
    background-color: transparent;
    color: yellow;
    border: 1px solid yellow;
    padding: .5%;
}
.correct{
    color: rgb(76, 179, 76);
    font-size: 1.1em;
    font-weight: 400;
    margin-top: 1%;
}
.wrong{
    color: red;
    font-size: 1.1em;
    font-weight: 400;
    margin-top: 1%;
}