.cryptalogue-tips-container{
    min-height: 100vh;
    width: 100%;
    background-image: url('https://wallpapers.com/images/hd/aesthetic-abstract-gxn8w0d1vxo1wttl.jpg');
    background-repeat: none;
    background-size: cover;
    padding: 1em;
}
.cryptalogue-tips-container-heading{
    font-size: 2em ;
    color : rgba(255, 191, 81, 0.607);
    
}
.first-tips h2,.second-tips h2{
    margin-top: 1em;
    font-size: 2.5em;
    color: rgba(134, 255, 53, 0.481);
}
.cryptalogue-tips-data{
    min-height: 100vh;
    width: 100%;
    padding: 1em;
    border-radius: 20px;
    border: 1px solid rgba(255, 191, 81, 0.262);
    color: rgba(255, 191, 81, 0.607);
}
.first-encryption h3,.second-encryption h3{
    font-size: 1.5em;
    color: rgba(158, 219, 238, 0.607);
}
.first-encryption p,.second-encryption p{
    font-size: .9em;
}
.return-button-container{
    margin-top: 4vh;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.return-button{
    height: 8vh;
    width: 20vw;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 191, 81, 0.763);
    border: none;
    transition: all ease .4s;
    padding: 1vh;
    font-weight: 600;
    font-size: 1em;
}
.return-button:hover{
    color:  rgba(255, 191, 81, 0.763);
    border : 1px solid rgba(255, 191, 81, 0.763);
    background-color: transparent;
}
